aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
frozenlist==1.7.0
idna==3.10
joblib==1.5.1
multidict==6.6.3
nltk==3.9.1
numpy==2.3.2
propcache==0.3.2
python-dotenv==1.1.1
regex==2024.11.6
requests==2.32.4
scikit-learn==1.7.1
scipy==1.16.1
textblob==0.19.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing-extensions==4.14.1
urllib3==2.5.0
yarl==1.20.1
